/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

@import url('https://fonts.googleapis.com/css?family=Noto+Sans');


body {
    background-color: #251621;
    margin: 0 auto;
    max-width: 80em;
}

.fileDrop {
    width: 256px;
    height: 64px;
    border: 2px solid #d6b9a8;
    border-radius: 10px;
    text-align: center;
    display: block;
}

.fileDrop > div {
    width: 256px;
    height: 64px;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #dad0ce;
    font-family: 'Noto Sans', sans-serif;

}

h1, h2, h3, h4, h5, label {
    color: #d6b9a8;
}

.image-effect {
    height: 256px;
    width: 256px;
}

.upload {
    background-color: blue;
    margin: 1px;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, .2);
}
.upload0 {
    width: 0;
}

.upload10 {
    width: 10%;
}

.upload20 {
    width: 20%;
}

.upload30 {
    width: 30%;
}

.upload40 {
    width: 40%;
}


.upload50 {
    width: 50%;
}


.upload60 {
    width: 60%;
}

.upload70 {
    width: 70%;
}

.upload80{
    width: 80%;
}


.upload90 {
    width: 90%;
}


.upload100 {
    width: 100%;
}



.image-opacity {
    opacity: 0%;
}

.centering-container {
    margin: 0 auto;
}
.centering-text-container {
    text-align: center;
}

.container {
    display: flex;
    margin-left: 4px;
}

.sidebar {
    padding-left: 16px;
    min-width: 256px;
}

.content {
    margin-left: 32px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    flex-grow: 1;

}

.image {
    min-width: 256px;
    font-size: 1.5em;
}

.imageWrap {
    width: 256px;
    height: 256px;
    overflow: hidden;
    text-align: center;
}

.imageViewContainer {
    margin-right: 16px;
}

.disabled {
    border: none;
    background: transparent;
    resize: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.buttons {
    margin-top: 4px;
    margin-right: 4px;
    margin-bottom: 4px;
}

.linkContainer {
}


.imageDetailsContainer {
    padding-left: 16px;
    padding-bottom: 16px;
    padding-right: 16px;
    min-width: 256px;
    flex-grow: 1;
}

.row-container {
    display: flex;
    flex-direction: column;
}

@media all and (min-width: 600px) {
    .column-container {
        display: flex;
        flex-direction: row;
    }
}

@media all and (max-width: 600px) {
    .column-container {
        display: flex;
        flex-direction: column;
    }
}

.palette {
    text-align: center;
    height: 32px;
}

.link {
    font-size: 24px;
    font-weight: bold;
    margin-right: 8px;
}

.link:link {
    text-decoration: none;
    color: #688894;
}

.link:visited {
    text-decoration: none;
    color: #688894;
}


.link:hover {
    text-decoration: none;
    color: #655555;
}


.link:link {
    text-decoration: none;
    color: #688894;
}

.inputGroup {
    max-width: 90%;
    margin-bottom: 8px;
    margin-top: 4px;
    flex-grow: 1;
}

.inputGroup label {
    margin-bottom: 4px;
    font-weight: bold;
}

.inputGroup textarea {
    min-width: 100%;
    min-height: 192px;
}

.inputGroup select {
    min-width: 128px;
}

button, input {
    background-color: #251621;
}

.inputGroup label, .inputGroup textarea, .inputGroup input, .inputGroup span, .inputGroup button, .inputGroup select {
    display: block;
    background-color: #251621;
}

.footer {
    margin-top: 16px;
    padding-bottom: 16px;
    padding-right: 16px;
}

