

.flex-container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.imageWrapper {
    min-height:128px;
    min-width:128px;
    height:128px;
    justify-content: center;
    align-items: center;

    display: flex;
    margin: 2px;
}
.imageSizing {
    max-width: 128px;
    max-height: 128px;
    vertical-align:bottom;
}
