<h3>Image Details</h3>
<div class="column-container" [formGroup]="formGroup" *ngIf="!!imageInfo">
  <div class="imageViewContainer">
    <div>
      <a [href]="imageInfo.imageUri" target="_blank"><img class="image"  [src]="imageInfo.thumbnailUri"></a>
    </div>
    <div class="palette">
      <app-palette-displayer [paletteString]="imageInfo.palette"></app-palette-displayer>
    </div>
  </div>
  <div class="imageDetailsContainer">
    <div class="inputGroup">
      <label for="titleA">Title</label>
      <input [ngClass]="inputClass" id="titleA" formControlName="title" />
    </div>
    <div class="inputGroup">
      <label for="descriptionA">Description</label>
      <textarea [ngClass]="inputClass" id="descriptionA" spellcheck="false" formControlName="description"></textarea>
    </div>
    <div class="inputGroup">
      <label for="tagsA">Tags</label>
      <input [ngClass]="inputClass" formControlName="tags" id="tagsA" type="text" />
    </div>
    <div class="inputGroup">
      <label for="visibilityA">Visibility</label>
      <select [ngClass]="inputClass" id="visibilityA" formControlName="visibility">
        <option *ngFor="let option of visibilityOptions" [value]="option.value">{{option.description}}</option>
      </select>
    </div>
    <div *ngIf="adminFunctions">
      <button class="buttons" (click)="edit()" *ngIf="!editMode">Edit</button>
      <button class="buttons" (click)="save()" *ngIf="editMode">Save</button>
      <button class="buttons" (click)="cancel()" *ngIf="editMode">Cancel</button>
    </div>
  </div>
</div>


<div class="footer" *ngIf="!!imageInfo">
  <app-related-images-container [imageKey]="imageInfo.imageKey"></app-related-images-container>
</div>
