<div>
    <div class="container">
        <div class="centering-container">
            <app-search></app-search>
        </div>
    </div>
    <div class="container">
        <div class="centering-container">
            <app-header-links></app-header-links>
        </div>
    </div>
    <!--<div class="container">-->
        <!--<div class="centering-container">-->
            <!--<app-header-upload></app-header-upload>-->
        <!--</div>-->
    <!--</div>-->
    <div class="container">
        <!--<div class="sidebar">-->
            <!--<h2>Tags</h2>-->
            <!--<app-tag-list-container [tags]="tags"></app-tag-list-container>-->
        <!--</div>-->
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

