<div class="column-container" [formGroup]="formGroup">
  <div class="imageDetailsContainer">
    <h2>Details</h2>
    <div class="imageGroup">
      <label for="file">Upload</label>
      <input id="file" type="file" (change)="selectFile($event)">
    </div>
    <div class="inputGroup">
      <label for="title">Title</label>
      <input id="title" formControlName="title" />
    </div>
    <div class="inputGroup">
      <label for="description">Description</label>
      <textarea id="description" spellcheck="false" formControlName="description"></textarea>
    </div>
    <div class="inputGroup">
      <label for="tags">Tags</label>
      <input formControlName="tags" id="tags" type="text" />
    </div>
    <div class="inputGroup">
      <label for="visibility">Visibility</label>
      <select id="visibility" formControlName="visibility">
        <option *ngFor="let option of visibilityOptions" [value]="option.value">{{option.description}}</option>
      </select>
    </div>
    <button class="buttons" (click)="uploadFile()">Upload</button>
  </div>
</div>

